<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Edit Campsite</h1>

  <div class="col-md-6 offset-md-3">
  <form action="/campsites/<%= campsite._id%>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">

    <div class="mb-3">
      <label class="form-label" for="title">Title</label>
      <input class="form-control" type="text" name="campsite[title]" id="title" required value="<%= campsite.title %>">
    </div>

    <div class="mb-3">
      <label class="form-label" for="image">Location</label>
      <input class="form-control" type="text" name="campsite[location]" id="location" required value="<%= campsite.location %>" >
    </div>

    <div class="mb-3">
      <label class="form-label" for="price">Campsite Price</label>
      <div class="input-group">
        <span class="input-group-text" id="price-label">$</span>
        <input type="text" class="form-control" placeholder="0.00" id="price" aria-describedby="price-label"
          name="campsite[price]" required value="<%= campsite.price %>">
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="description">Description</label>
      <textarea class="form-control" type="text" id="description" name="campsite[description]"required><%= campsite.description %></textarea>
    </div>

    <div class="mb-3">
      <div class="form-file custom-file">
        <input type="file" class="form-file-input" id="image" name="image" multiple>
        <label class="form-file-label" for="image">
          <span class="form-file-text custom-file-label">Add more image(s)...</span>
          <span class="form-file-button">Browse</span>
        </label>
      </div>
    </div>


<div class="mb-3">
<% campsite.images.forEach(function(img, i) { %>
  <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
  <div class="form-check-inline">
    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
  </div>
  <label for="image-<%=i%>">Delete?</label>
  <% })%>
    </div>
    <div class="mb-3">
      <button class="btn btn-info">Update Campsite</button>
    </div>
  </form>

</div>
</div>
