<% layout('layouts/boilerplate') %>
<div class="container">
  <h1>All Our Campsites</h1>
    <a href="/campsites/new">Add Campsite</a>
  <ul>
    <% for (let campsite of campsites) { %>
      <div class="card" mb-3>
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" src="<%= campsite.image%>">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <%= campsite.title %>
              </h5>
              <p class="card-text">
                <%= campsite.description %>
              </p>
              <p class="card-text">
                <small class="text-muted">
                  <%= campsite.location %>
                </small>
              </p>
              <a class="btn btn-sm btn-primary" href="/campsites/<%= campsite._id %>">View <%= campsite.title %></a>
            </div>
          </div>
        </div>
      </div>

 <%  } %>
</div>
