<% layout('layouts/boilerplate') %>

  <h1><%= campsite.title %></h1>
  <h2><%= campsite.location %></h2>
  <h2><%= campsite.description %></h2>
  <h2>Price:<%= campsite.price %> $</h2>
  <img src="<%= campsite.image %>" alt="">

  <form action="/campsites/<%=campsite._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>

  <footer>
    <a href="/campsites/<%=campsite._id%>/edit">Edit</a>
    <a href="/campsites">All Campgrounds</a>
  </footer>
